body {
    text-align: center;

}

.navbar {
    text-align: center;
    font-weight: bold;
    align-items: center;
}

h2 {
    text-align: left;
}

input{
    align-items: last baseline;
}
    


.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 16px;
    padding: 8px;
}

.image-grid img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    object-fit: cover;
    min-height: 250px;
    box-shadow: 0 4px 6px rgba(o, 0, 0, 0.1);
}

button {
    font-weight: bold;
    background-color: rgb(142, 142, 216);
    padding: 10px 20px;
    cursor: pointer;
}
button:hover {
    background-color: green;
}